/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 87.5%; } }

body {
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom, rgba(68, 68, 68, 0.95), rgba(238, 206, 26, 0.95)), url("../../img/background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  color: #fff;
  height: 100%; }

ul {
  margin: 2rem; }

p {
  margin: 1rem 0; }

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

h1,
h2,
h3,
h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading,
  h6.sm-heading {
    width: 100%;
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    background-image: linear-gradient(to right, rgba(73, 73, 73, 0.9) 20%, rgba(151, 130, 11, 0.9) 50%); }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading,
  h6.lg-heading {
    font-size: 2.5rem; }

a {
  font-size: 1.6rem;
  color: #fff;
  text-decoration: none; }

p,
ul {
  font-size: 1.6rem;
  text-align: justify; }

ul {
  line-height: 2.4rem; }

.text-secondary {
  color: #eece1a; }

.card {
  position: relative;
  top: 0;
  left: 0;
  height: 35rem;
  max-width: 50rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right, rgba(238, 206, 26, 0.95), rgba(68, 68, 68, 0.95));
  cursor: pointer; }
  .card--overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 4rem;
    background-color: #444;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-align: center; }
  .card:hover .card--overlay {
    opacity: 0.98; }
  .card__picture img {
    width: 100%; }
  .card__heading {
    position: absolute;
    bottom: 4rem;
    right: 4rem;
    font-size: 2.4rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-color: #444;
    border-radius: 5px; }
  .card__details ul {
    list-style: none;
    line-height: 1.5rem; }
    .card__details ul li {
      text-align: center;
      padding: 1rem 0;
      font-size: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid grey; }
  .card__cta {
    display: flex;
    height: 100%;
    justify-content: space-around; }
    .card__cta > a {
      margin: auto; }
  .card--icon {
    width: 3.2rem;
    height: 3.2rem;
    fill: #eece1a;
    transition: all 0.5s; }
    .card--icon:hover {
      filter: invert(0.4); }

.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #515151;
  margin-top: 2rem;
  padding: 2rem;
  border-bottom: #eece1a 5px solid;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s; }
  .skill:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .skill__category {
    font-size: 2.4rem;
    margin: 1rem 0; }
    @media only screen and (max-width: 37.5em) {
      .skill__category {
        align-self: center; } }
  .skill__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .skill__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem; }
    .skill__picture > img {
      height: 5rem; }
    .skill__picture--caption {
      font-size: 1.6rem;
      text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
      height: 6rem;
      width: 6rem;
      z-index: 2000;
      background-color: #444;
      border-radius: 50%;
      border: 2px solid #eece1a;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
      text-align: center; }
      .navigation__button:hover {
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); } }

.navigation__background {
  display: none; }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      display: block;
      position: fixed;
      top: 1rem;
      right: 1rem;
      height: 5rem;
      width: 5rem;
      z-index: 1000;
      background-image: radial-gradient(#444, #eece1a);
      border-radius: 50%;
      transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); } }

.navigation__nav {
  position: fixed;
  height: 4.5rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: #444;
  border-bottom: 2px solid #eece1a;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 37.5em) {
    .navigation__nav {
      height: 100vh;
      width: 0;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); } }

.navigation__list {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: left; }
  @media only screen and (max-width: 37.5em) {
    .navigation__list {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      list-style: none;
      text-align: center; } }

@media only screen and (max-width: 37.5em) {
  .navigation__item {
    margin: 1rem; } }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 3rem;
      font-weight: 300; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:link, .navigation__link:visited {
      transition: all 0.4s; }
      .navigation__link:link span, .navigation__link:visited span {
        display: inline-block;
        margin-right: 1.5rem; } }

.navigation__link:hover, .navigation__link:active {
  color: #eece1a; }
  @media only screen and (max-width: 37.5em) {
    .navigation__link:hover, .navigation__link:active {
      transform: translateX(1rem); } }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 2.7rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    display: inline-block;
    width: 3rem;
    height: 2px;
    background-color: #fff; }
  .navigation__icon::before, .navigation__icon::after {
    position: absolute;
    left: 0;
    content: "";
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

main {
  max-width: 80%;
  margin: 4rem auto; }
  @media only screen and (max-width: 56.25em) {
    main {
      max-width: 100%;
      margin-left: 1rem;
      margin-right: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    main {
      margin: 1rem; } }
  main > * {
    padding-top: 5vw; }

.me {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .me {
      flex-direction: column;
      text-align: center; } }
  .me__picture--image {
    width: 20rem;
    height: 20rem;
    border: 2px solid #eece1a;
    border-radius: 50%;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
    filter: grayscale(100%) sepia(100%);
    transition: all 0.5s; }
    .me__picture--image:hover {
      filter: none;
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .me__personal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    margin: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .me__personal {
        justify-content: center; } }
  .me__media {
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .me__media {
        justify-content: center; } }
    .me__media--icon {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.2rem;
      fill: currentColor;
      transition: all 0.5s; }
      .me__media--icon:hover {
        filter: invert(0.4); }

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about-info__bio, .about-info__jobs--job {
    background: #515151;
    margin-top: 2rem;
    padding: 2rem;
    border-bottom: #eece1a 5px solid;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s; }
    .about-info__bio:hover, .about-info__jobs--job:hover {
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
  .about-info__jobs--industry {
    font-size: 1.2rem;
    font-style: italic; }
  .about-info__jobs--period {
    font-size: 1.2rem;
    font-style: italic; }
  .about-info__jobs .title {
    font-size: 1.6rem;
    text-decoration: underline; }
  .about-info__jobs--stack {
    font-size: 1.6rem;
    color: #eece1a; }
    .about-info__jobs--stack.title {
      font-size: 1.6rem;
      text-decoration: underline; }

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .portfolio .projects {
    display: grid;
    width: 100%;
    margin-top: 3rem;
    grid-gap: 3rem;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 50rem)); }

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .skills__categories {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center; }

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .contact__items {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 30rem));
    padding: 1.5rem 2.5rem;
    transition: all 0.5s ease-out;
    background: #515151;
    margin-top: 2rem;
    padding: 2rem;
    border-bottom: #eece1a 5px solid;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    margin: 1rem auto; }
    .contact__items:hover {
      box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.1); }
    .contact__items--link {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 37.5em) {
        .contact__items--link {
          flex-direction: column; } }
    .contact__items--icon {
      width: 2.2rem;
      height: 2.2rem;
      margin-right: 1.2rem;
      fill: currentColor;
      transition: all 0.5s; }
      .contact__items--icon:hover {
        filter: invert(0.4); }

footer {
  height: 6rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  background: #000; }
