main {
  padding: 4rem;
  min-height: 100vh;
  & > * {
    padding-bottom: 10rem;
  }
}

.me {
  display: flex;
  align-items: center;

  &__picture {
    padding-right: 5rem;
    &--image {
      width: 25rem;
      height: 25rem;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      box-shadow: 0 1.5rem 3rem rgba(black, 0.8);
      transition: all 0.5s;
      &:hover {
        filter: grayscale(100%) sepia(100%);
        transform: scale(1.2);
        border-width: 3px;
      }
    }
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--icon-box {
      margin-right: 1.2rem;
    }
    &--icon {
      width: 3.2rem;
      height: 3.2rem;
      fill: white;
      transition: all 0.5s;
      box-shadow: 0 1.5rem 3rem rgba(black, 0.5);
      &:hover {
        filter: invert(0.4);
        //transform: scale(1.2);
      }
    }
  }
}
.about {
  &-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
      "short short short"
      "bio bio bio"
      "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5rem;

    &__short,
    &__bio,
    &__job {
      background: lighten($primary-color, 5);
      margin-top: 1rem;
      padding: 1rem;
      border-bottom: $secondary-color 5px solid;
      box-shadow: 0 1.5rem 1rem rgba(black, 0.5);
      border-radius: 10px;
      transition: all 0.5s;
      &:hover {
        box-shadow: 0 1.5rem 1rem rgba(black, 0.1);
      }
    }

    &__short {
      grid-area: short;
    }

    &__bio {
      grid-area: bio;
    }

    &__job {
      &--1 {
        grid-area: job1;
      }

      &--2 {
        grid-area: job2;
      }

      &--3 {
        grid-area: job3;
      }
    }
  }
}

.projects {
  display: grid;
  grid-gap: 4rem;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 50rem));
}
