main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  & > * {
    padding-bottom: 20rem;
  }
}

.me {
  display: flex;
  align-items: center;

  &__picture {
    padding-right: 5rem;
    &--image {
      width: 25rem;
      height: 25rem;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      box-shadow: 0 1.5rem 3rem rgba(black, 0.8);
      transition: all 0.5s;
      &:hover {
        filter: grayscale(100%) sepia(100%);
        transform: scale(1.2);
        border-width: 3px;
      }
    }
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--icon-box {
      margin-right: 1.2rem;
    }
    &--icon {
      width: 3.2rem;
      height: 3.2rem;
      fill: white;
      transition: all 0.5s;
      box-shadow: 0 1.5rem 1rem rgba(black, 0.5);
      &:hover {
        filter: invert(0.4);
        //transform: scale(1.2);
      }
    }
  }
}
