main {
  padding: 4rem;
  & > * {
    padding-bottom: 5rem;
  }
}

.me {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__picture {
    padding-right: 5rem;

    @include respond(phone) {
      padding-right: 0;
    }
    &--image {
      width: 25rem;
      height: 25rem;
      border: 2px solid $color-secondary;
      border-radius: 50%;
      @include shadow;
      transition: all 0.5s;
      &:hover {
        filter: grayscale(100%) sepia(100%);
        transform: scale(1.2);
        border-width: 3px;
        @include shadowHover;
      }
    }
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--icon {
      @include icon;
    }
  }
}
.about {
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__jobs {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(10rem, 50rem));
      justify-content: space-around;
    }

    &__bio,
    &__jobs--job {
      @include contentBox;
    }
  }
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & .projects {
    width: 100%;
    display: grid;
    grid-gap: 3rem;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 50rem));
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__items {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 30rem));
    padding: 1.5rem 2.5rem;
    transition: all 0.5s ease-out;

    @include contentBox;

    margin: 1rem auto;

    &--link {
      display: flex;

      @include respond(phone) {
        flex-direction: column;
      }

      align-items: center;
    }

    &--icon {
      @include icon;
    }
  }
}
