.skill {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include contentBox;

  &__category {
    font-size: 2.4rem;
    margin: 1rem 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  &__picture {
    margin: 2rem;
    perspective: 150rem;
    -moz-perspective: 150rem;

    & > img {
      height: 10rem;
      transition: all 1s;
      &:hover {
        transform: rotateY(180deg);
      }
    }
    &--caption {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}
