*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(tab-land) {
    // width < 1200?
    font-size: 75%; //1rem = 12px, 12/16
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 62.5%; // 1rem = 10px 10/16 = 62.5%
  }

  @include respond(big-desktop) {
    font-size: 87.5%; //1rem = 14px, 14/16
  }
}

body {
  box-sizing: border-box;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, $background-opacity),
      rgba($color-secondary, $background-opacity)
    ),
    url("../../img/background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  color: set-text-color($color-primary);
  height: 100%;
}
ul {
  margin: 2rem;
}
p {
  margin: 1rem 0;
}
