*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  box-sizing: border-box;

  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color, $background-opacity),
      rgba($secondary-color, $background-opacity)
    ),
    url("../../img/background.jpg");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: left top;
  color: set-text-color($primary-color);
  backdrop-filter: blur(15px);
  height: 100%;
  margin: 0;
}
