body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    width: 100%;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-image: linear-gradient(
      to right,
      rgba(lighten($primary-color, 2), 0.9) 20%,
      rgba(darken($secondary-color, 20), 0.9) 50%
    );
    font-size: 2rem;
    border-radius: 0.5rem;
  }
}

h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}
