body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h6 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;

  &.sm-heading {
    width: 100%;
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    background-image: linear-gradient(
      to right,
      rgba(lighten($color-primary, 2), 0.9) 20%,
      rgba(darken($color-secondary, 20), 0.9) 50%
    );
  }

  &.lg-heading {
    font-size: 2.5rem;
  }
}

a {
  font-size: $default-font-size;
  color: $color-text;
  text-decoration: none;
}

p,
ul {
  font-size: $default-font-size;
  text-align: justify;
}

ul {
  line-height: 2rem;
}

.text-secondary {
  color: $color-secondary;
}
