$color-primary: #444;
$color-secondary: #eece1a;

$color-text: #fff;
$color-shadow: #000;

$show-home-image: true;
$home-image: url(../../img/background.jpg);
$background-opacity: 0.95;

$default-font-size: 1.6rem;

$color-overlay-background: #444;
